body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
button,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
Link,
input {
  border: none;
  padding: 0;
  outline: none;
  background-color: none;
  list-style: none;
  text-decoration: none;
  border: none;
  height: fit-content;
  width: fit-content;
  background: none;
}
button {
  cursor: pointer;
}
